<?xml version="1.0" encoding="UTF-8"?>

<configuration debug="true">

        <!-- 控制台输出 -->
        <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
                <encoder>
                        <!--格式化输出 -->
                        <pattern>%date [%thread] %-5level %class.%method\(%line\) - %msg%n</pattern>
                </encoder>
        </appender> 

        <!-- 根据不同的运行环境配置不同的日志策略 -->
        <if
                condition='"${spring.profiles.active}" == "devtest" || "${spring.profiles.active}" == "test" || "${spring.profiles.active}" == "production"'>
                <then>

                        <if condition='"${spring.profiles.active}" == "devtest"'>
                                <then>
                                        <!-- 配置日志文件的保存地址 -->
                                        <property name="file_path" value="${catalina.home}/logs_test" />
                                </then>
                        </if>
                        <if condition='"${spring.profiles.active}" == "test"'>
                                <then>
                                        <property name="file_path" value="/opt/paas/tomcat_smsp_schedule/logs" />
                                </then>
                        </if>
                        <if condition='"${spring.profiles.active}" == "production"'>
                                <then>
                                        <property name="file_path" value="/opt/paas/tomcat_smsp_schedule/logs" />
                                </then>
                        </if>

                        <!-- 每天生成日志文件 -->
                        <appender name="debug_file" class="ch.qos.logback.core.rolling.RollingFileAppender">
                                <!--日志文件输出的文件名 -->
                                <file>${file_path}/debug.log</file>
                                <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                                        <!-- daily rollover -->
                                        <fileNamePattern>${file_path}/debug.%d{yyyy-MM-dd}.log</fileNamePattern>
                                        <!--日志文件保留天数 -->
                                        <maxHistory>365</maxHistory>
                                </rollingPolicy>
                                <encoder>
                                        <pattern>%date [%thread] %-5level %class.%method\(%line\) - %msg%n</pattern>
                                </encoder>
                                <!--日志文件最大的大小 <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy"> <MaxFileSize>10MB</MaxFileSize>
                                        </triggeringPolicy> -->
                        </appender>
                        <appender name="error_file" class="ch.qos.logback.core.rolling.RollingFileAppender">
                                <file>${file_path}/error.log</file>
 								<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                                        <fileNamePattern>${file_path}/error.%d{yyyy-MM-dd}.log</fileNamePattern>
                                        <maxHistory>365</maxHistory>
                                </rollingPolicy>
                                <encoder>
                                        <pattern>%date [%thread] %-5level %class.%method\(%line\) - %msg%n</pattern>
                                </encoder>
                                <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                                        <level>error</level>
                                </filter>
                        </appender>

                        <!-- 错误日志发送邮件 -->
                        <appender name="email" class="ch.qos.logback.classic.net.SMTPAppender">
                                <smtpHost>mail.ucpaas.com</smtpHost>
                                <smtpPort>25</smtpPort>
                                <username>errorlog@ucpaas.com</username>
                                <password>ucpaas2014</password>
                                <from>errorlog@ucpaas.com</from>
                                <to>errorlog@ucpaas.com</to>
                                <subject>【ucpaas-sms，${spring.profiles.active}服务器发生错误】%class.%method\(%line\) - %msg</subject>
                                <asynchronousSending>true</asynchronousSending>
                                <includeCallerData>false</includeCallerData>
                                <layout class="ch.qos.logback.classic.html.HTMLLayout" />
                                <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                                        <level>error</level>
                                </filter>
                        </appender>

                        <!-- 重推状态报告日志 -->
                        <appender name="ReportRepushService"
                                  class="ch.qos.logback.core.rolling.RollingFileAppender">
                                <!--日志文件输出的文件名 -->
                                <file>${file_path}/ReportRepushService.log</file>
                                <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                                        <!-- daily rollover -->
                                        <fileNamePattern>${file_path}/ReportRepushService.%d{yyyy-MM-dd}.log
                                        </fileNamePattern>
                                        <maxHistory>60</maxHistory>
                                </rollingPolicy>
                                <encoder>
                                        <pattern>%date [%thread] %-5level %class.%method\(%line\) - %msg%n
                                        </pattern>
                                </encoder>
                        </appender>



                        <!-- 操作日志文件 -->
                        <appender name="UserOperatingLog"
                                  class="ch.qos.logback.core.rolling.RollingFileAppender">
                                <!--日志文件输出的文件名 -->
                                <file>${file_path}/UserOperatingLog.log</file>
                                <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                                        <!-- daily rollover -->
                                        <fileNamePattern>${file_path}/UserOperatingLog.%d{yyyy-MM-dd}.%i.log
                                        </fileNamePattern>
                                        <maxHistory>60</maxHistory>
                                </rollingPolicy>
                                <encoder>
                                        <pattern>%date [%thread] %-5level %c{1}.%method\(%line\) - %msg%n
                                        </pattern>
                                </encoder>
                        </appender>


                        <logger name="UserOperatingLog" level="DEBUG">
                                <appender-ref ref="UserOperatingLog"/>
                        </logger>


                        <logger name="ReportRepushService" level="DEBUG">
                                <appender-ref ref="ReportRepushService" />
                        </logger>

                        <!-- 测试、线上环境的日志输出 -->
                        <root level="debug">
                                <appender-ref ref="stdout" />
                                <appender-ref ref="debug_file" />
                                <appender-ref ref="error_file" />
                                <appender-ref ref="email" />
                        </root>

                </then>
                <else>



                        <!-- 操作日志文件 -->
                        <appender name="UserOperatingLog"
                                  class="ch.qos.logback.core.rolling.RollingFileAppender">
                                <!--日志文件输出的文件名 -->
                                <file>${file_path}/UserOperatingLog.log</file>
                                <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                                        <!-- daily rollover -->
                                        <fileNamePattern>${file_path}/UserOperatingLog.%d{yyyy-MM-dd}.%i.log
                                        </fileNamePattern>
                                        <maxHistory>60</maxHistory>
                                </rollingPolicy>
                                <encoder>
                                        <pattern>%date [%thread] %-5level %c{1}.%method\(%line\) - %msg%n
                                        </pattern>
                                </encoder>
                        </appender>


                        <logger name="UserOperatingLog" level="DEBUG">
                                <appender-ref ref="UserOperatingLog"/>
                        </logger>
                        <!-- 开发环境的日志输出 -->
                        <root level="debug">
                                <appender-ref ref="stdout" />
                        </root>

                        <property name="app_name" value="smsp-schedule" />
                        <property name="file_path" value="E:/logs/${app_name}" />

                        <!-- 重推状态报告日志 -->
                        <appender name="ReportRepushService"
                                  class="ch.qos.logback.core.rolling.RollingFileAppender">
                                <!--日志文件输出的文件名 -->
                                <file>${file_path}/ReportRepushService.log</file>
                                <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                                        <!-- daily rollover -->
                                        <fileNamePattern>${file_path}/ReportRepushService.%d{yyyy-MM-dd}.log
                                        </fileNamePattern>
                                        <maxHistory>60</maxHistory>
                                </rollingPolicy>
                                <encoder>
                                        <pattern>%date [%thread] %-5level %class.%method\(%line\) - %msg%n
                                        </pattern>
                                </encoder>
                        </appender>

                        <logger name="ReportRepushService" level="DEBUG">
                                <appender-ref ref="ReportRepushService" />
                        </logger>

                </else>
        </if>

        <logger name="com.ucpaas.sms" level="debug" />

        <logger name="org.mybatis" level="warn" />
        <logger name="org.apache.ibatis" level="warn" />
        <logger name="org.quartz.core" level="warn" />
        <logger name="org.quartz.impl" level="warn" />
        <logger name="com.opensymphony.xwork2" level="ERROR" />
        <logger name="com.opensymphony.oscache" level="ERROR" />
        <logger name="org.apache.struts2" level="ERROR" />
        <logger name="freemarker.cache" level="ERROR" />
        <logger name="freemarker.beans" level="ERROR" />
        <logger name="org.springframework.beans.factory" level="INFO" />

</configuration>
