<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 客户运营报表 -->
<mapper namespace="customerOpreting">
	
	<!-- 查询条件SQl片段 -->
	<sql id="query_codition">
		<where>
			<choose>
				<when test="stat_type == 1">
					t.date BETWEEN #{start_time_day}
					AND #{end_time_day}
					AND t.stattype IN (0, 1) <!-- 每日详单和每日合计 -->
				</when>
				<otherwise>
					t.date BETWEEN #{start_time_month}
					AND #{end_time_month}
					AND t.stattype IN(2 ,3) <!-- 每月详单和每月合计 -->
				</otherwise>
			</choose>
			<if test="text != null and text != ''">
				AND (t.clientid LIKE concat('%', #{text}, '%')
					 OR t.name LIKE concat('%', #{text}, '%')
					 OR t.agent_id LIKE concat('%', #{text}, '%')
					)
			</if>
			<if test="paytype != -1 and paytype != null">
				AND t.paytype = #{paytype} 
				AND t.stattype != 1 <!-- 不显示每日合计数据 -->
			</if>
			<if test="operatorstype != null">
				AND t.operatorstype = #{operatorstype}
			</if>
			<if test="channel_id != null and channel_id != ''">
				AND t.channelid = #{channel_id}
			</if>
			<if test="belong_sale != null and belong_sale != ''">
				AND t.belong_sale = #{belong_sale}
			</if>
		</where>
	</sql>
	
	<select id="query" resultType="map">
		SELECT * FROM (
				SELECT
				t.date,
				t.clientid,
				t.name,
				t.agent_id,
			  	t.charge_rule,

				CASE t.stattype
				WHEN 2 THEN '-'
				WHEN 3 THEN '-'
				ELSE
					CASE t.charge_rule
					WHEN 0 THEN '提交量'
					WHEN 1 THEN '成功量'
					ELSE '明确成功量' END
				END AS chargeRuleStr,

				CASE t.paytype
					WHEN 0 THEN '预付费'
					WHEN 1 THEN '后付费'
					WHEN -1 THEN ' - '
					ELSE paytype
				END AS paytypeText,
				t.paytype,
				t.operatorstype,
				CASE t.operatorstype
					WHEN -1 THEN '超频计费'
					WHEN -2 THEN '合计'
					WHEN 0 THEN '全网'
					WHEN 1 THEN '移动'
					WHEN 2 THEN '联通'
					WHEN 3 THEN '电信'
					WHEN 4 THEN '国际'
					WHEN 5 THEN '虚拟移动'
					WHEN 6 THEN '虚拟联通'
					WHEN 7 THEN '虚拟电信'
				END AS operatorstype_name,
				CASE t.channelid
					WHEN -1 THEN ' - '
					ELSE channelid
				END AS channelid,
				t.remark,
				<!-- 通道为0时chargetotal字段统计的是超频拦截数据，计费条数应该取overrate_charge_total（超频计费） -->
				SUM(t.chargetotal) AS chargetotal,
				ROUND(SUM(t.costfee) / 1000,3) AS costfee,
				ROUND(SUM(t.salefee) / 1000,3) AS salefee,
				ROUND(SUM(t.productfee) / 1000,3) AS productfee,
				ROUND(IF(SUM(t.salefee)=0,0,(SUM(t.salefee) - SUM(t.productfee))) / 1000,3) AS agent_commission,
				ROUND(IF(SUM(t.productfee)=0,0,(SUM(t.productfee) - SUM(t.costfee))) / 1000,3) AS grossprofit,
				CONCAT(ROUND((IF(SUM(t.productfee)=0,0,(SUM(t.productfee) - SUM(t.costfee))) / IF(SUM(t.productfee)=0,1,SUM(t.productfee))) * 100, 3), '%') AS grossmargin,
				belong_sale
			FROM
				t_sms_access_channel_statistics t
			<include refid="query_codition"/>
			GROUP BY date,clientid,channelid,paytype,belong_sale,operatorstype
			ORDER BY date,clientid,operatorstype DESC
			${limit}
		) temp
		WHERE !(temp.operatorstype = - 1 AND temp.chargetotal = 0) <!-- 排除超频计费条数中为0的记录 -->
		
	</select>
	
	<select id="queryCount" resultType="map">
		SELECT
			COUNT(0) AS totalCount
		FROM (
			SELECT * FROM (
				SELECT clientid,operatorstype,chargetotal FROM
					t_sms_access_channel_statistics t
				<include refid="query_codition"/>
				GROUP BY date,clientid,channelid,paytype,belong_sale,operatorstype
				ORDER BY date,clientid,operatorstype DESC
			) t2
			WHERE !(t2.operatorstype = - 1 AND t2.chargetotal = 0)<!-- 排除超频计费条数中为0的记录 -->
		) t3
		
	</select>
	
	<select id="total" resultType="map">
		SELECT
			SUM(IF(t.operatorstype = -1, t.overrate_charge_total, t.chargetotal)) AS chargetotal,
			ROUND(SUM(t.costfee)/1000, 3) AS costfee,
			ROUND(SUM(t.salefee)/1000, 3) AS salefee,
			ROUND(SUM(t.productfee)/1000, 3) AS productfee,
			ROUND((SUM(t.salefee) - SUM(t.productfee)) / 1000,3) AS agent_commission,
			ROUND(IF(SUM(t.productfee)=0,0,(SUM(t.productfee) - SUM(t.costfee)))/1000, 3) AS grossprofit,
			CONCAT(ROUND((IF(SUM(t.productfee)=0,0,(SUM(t.productfee) - SUM(t.costfee))) / IF(SUM(t.productfee)=0,1,SUM(t.productfee))) * 100, 3), '%') AS grossmargin
		FROM
			t_sms_access_channel_statistics t
		<include refid="query_codition"/>
		<choose>
			<!-- 过滤合计数据 -->
			<when test="stat_type == 1">
				AND t.stattype != 1 
			</when>
			<otherwise>
				AND t.stattype != 3
			</otherwise>
		</choose>
	</select>
	
	<select id="queryRealChannelCost" resultType="bigdecimal">
		SELECT
			ROUND(IFNULL(SUM(costtotal), 0)/1000, 3) AS realCost
		FROM
			t_sms_record_channel_statistics
		<where>
			<if test="clientid != null and clientid != ''">
				clientid = #{clientid}
			</if>
			
			<if test="channelid != null and channelid != ''">
				AND
				channelid = #{channelid}
			</if>
			
			<if test="paytype != null and paytype != ''">
				AND
				paytype = #{paytype}
			</if>
			
			<if test="date != null and date != ''">
				AND
				date = #{date}
			</if>
			
			<if test="belongSale != null and belongSale != ''">
				AND
				belong_sale = #{belongSale}
			</if>
		</where>
	</select>
	
	<select id="queryRealChannelCostDailySum" resultType="bigdecimal">
		SELECT
			ROUND(IFNULL(SUM(costtotal), 0)/1000, 3) AS realCost
		FROM
			t_sms_record_channel_statistics
		<where>
			stattype = 0
			<if test="clientid != null and clientid != ''">
				AND
				clientid = #{clientid}
			</if>
			<if test="date != null and date != ''">
				AND
				date = #{date}
			</if>
		</where>
	</select>
	
	<select id="queryTotalRealCost" resultType="bigdecimal">
		SELECT ROUND(IFNULL(SUM(costtotal), 0)/1000, 3) FROM t_sms_record_channel_statistics t
		<where>
			clientid IN
			<foreach collection="clientIdList" item="item" open="(" close=")" separator=",">
				#{item}
			</foreach>
			<choose>
				<when test="stat_type == 1">
					AND t.date BETWEEN #{start_time_day} AND #{end_time_day}
					AND t.stattype = 0
				</when>
				<otherwise>
					AND t.date BETWEEN #{start_time_month} AND #{end_time_month}
					AND t.stattype = 2
				</otherwise>
			</choose>
			
			<if test="channelid != null and channelid != ''">
				AND
				channelid = #{channelid}
			</if>
			
			<if test="paytype != -1 and paytype != null">
				AND t.paytype = #{paytype} 
			</if>
			
			<if test="operatorstype != null and operatorstype != ''">
				AND t.operatorstype = #{operatorstype}
			</if>
			
			<if test="channel_id != null and channel_id != ''">
				AND t.channelid = #{channel_id}
			</if>
			
			<if test="belong_sale != null and belong_sale != ''">
				AND t.belong_sale = #{belong_sale}
			</if>
		</where>
	</select>
	
	<select id="queryBelongSaleName" resultType="string">
		SELECT realname FROM t_sms_user WHERE id = #{belongSale}
	</select>
	
	<select id="querySearchResultContainClientId" resultType="string">
		SELECT clientid FROM t_sms_access_channel_statistics t
		<include refid="query_codition"/>
		GROUP BY clientid
	</select>
	
</mapper> 