<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 数据查询 -->
<mapper namespace="dataQuery">

	<!-- 执行查询 -->	
	<select id="excuteQuery" resultType="map" statementType="STATEMENT">  
	    ${excuteSql} ${limit}
	</select>
	
	<select id="queryCount" resultType="map" statementType="STATEMENT">
		${queryCountSql}
	</select>
	
</mapper> 