<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 菜单业务 -->
<mapper namespace="menu">
	
	<!-- 查询角色的菜单 -->
	<select id="getRoleMenu" resultType="com.ucpaas.sms.model.Menu">
		SELECT
			m.menu_id,
			m.menu_name,
			m.menu_url,
			m.menu_class,
			m.parent_id,
			m.level,
			m.status
		FROM
			t_sms_menu m,
			t_sms_role_menu rm,
			t_sms_role r
		WHERE
			m.menu_id = rm.menu_id
		AND rm.role_id = r.id
		AND m.menu_type = 1
		AND m.`status` = 1
		AND r.`status` = 1
		<if test="level != null">
			<![CDATA[ AND m.`level` >= #{level} ]]>
		</if>
		AND r.id = #{role_id}
		ORDER BY
			m.level,
			m.parent_id,
			m.sort
	</select>
</mapper>