<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mybatis="http://mybatis.org/schema/mybatis-spring"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
  		http://mybatis.org/schema/mybatis-spring
  		http://mybatis.org/schema/mybatis-spring.xsd
        ">

	<!-- ucpaas_message_stats 主库配置 START -->
	<bean id="stats_master_dataSource" parent="dataSourceParent">
		<property name="url" value="${stats_master.jdbc.url}" />
		<property name="username" value="${stats_master.jdbc.username}" />
		<property name="password" value="${stats_master.jdbc.password}" />
	</bean>
	<!-- 配置mybitasSqlSessionFactoryBean -->
	<bean id="stats_master_sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="stats_master_dataSource" />
		<property name="configLocation" value="classpath:mybatis.xml" />
		<property name="mapperLocations" value="classpath:mapper/**/*Mapper.xml" />
	</bean>
	<!-- 配置SqlSessionTemplate -->
	<bean id="stats_master_sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg name="sqlSessionFactory" ref="stats_master_sqlSessionFactory" />
	</bean>
	<!-- 事务配置 -->
	<bean id="stats_master_transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="stats_master_dataSource" />
	</bean>
	<!-- 使用annotation注解方式配置事务 -->
	<tx:annotation-driven transaction-manager="stats_master_transactionManager" />
	<!-- ucpaas_message_record 主库配置 END -->


</beans>